<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<title>Welcome to Security Tech Jar</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="css/main.css" />

	<style>
		#jar {
			width: 270px;
			height: 270px;
		}
	</style>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Main -->
					<div id="main">
						<div class="inner">
							<!-- Header -->
								<header id="header">
									<% if(user){%>
										<a href="/" class="logo"> Welcome! <strong><%= user.displayName %></strong></a>
									<% } else {%>
										<a href="/" class="logo"> Welcome! <strong>to My API HUB</strong></a>
									<% } %>
									<ul class="icons">
										<!-- <li><a href="#" ><span class="label">Google</span></a></li> -->
										<% if(!user){%>
											<a class="icon brands fa-google" href="auth/google"> Login</a>
										  <% } else {%>
											  <a class="icon brands fa-google" href="auth/logout"> Logout</a>
										  <% } %>
									</ul>
								</header>

							<!-- Banner -->
								<section id="banner">
									<div class="content">
										<header>
											<h2>Malware Detector with Entropy</h2>
											<p>CNN-based malware detector targeting Windows PE files</p>
										</header>
										<p>바이너리 파일을 분석해서 악성코드 유무를 확인합니다. </p>
										<ul class="actions">
											<li><a href="#" class="button big">Use this API</a></li>
										</ul>
									</div>
									<span class="image object">
										<img src= "images/malware.png" alt="" />
									</span>
								</section>

								<section>
									<header class="major">
										<h2>Erat lacinia</h2>
									</header>
									<div class="features">
										<article>
											<div class="content">
												<h3>Portitor ullamcorper</h3>
											</div>
										</article>
									</div>
								</section>
						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">
							<!-- Search -->
								<section id="menu" class="alt">
									<form method="post" action="#">
										<input type="text" name="query" id="query" placeholder="Search" />
									</form>
								</section>

							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										<li><a href="/">Homepage</a></li>
										<!-- <li><a href="/techReview">Tech Review</a></li> -->
										<li><a href="/Api">API</a></li>
									</ul>
								</nav>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>Get in touch</h2>
									</header>
									<ul class="contact">
										<li class="icon solid fa-envelope"><a href="#">bnm961126@gmail.com</a></li>
										<li class="icon solid fa-phone">(082)010-5216-6056</li>
										<li class="icon solid fa-home">Yuseong-gu, Daejeon, Republic of Korea</li>
									</ul>
								</section>

							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; Untitled. All rights reserved. Demo Images: <a href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
								</footer>

						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/browser.min.js"></script>
			<script src="js/breakpoints.min.js"></script>
			<script src="js/util.js"></script>
			<script src="js/main.js"></script>

	</body>
</html>
